################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/NerdStore.Cadastro.Domain/obj
/src/NerdStore.Catalogo.Domain/obj
/src/NerdStore.Core/obj
/src/NerdStore.Cadastro.Domain/bin
/src/NerdStore.Catalogo.Domain/bin
/src/NerdStore.Core/bin
tests/NerdStore.Catalogo.Domain.Tests/bin
tests/NerdStore.Catalogo.Domain.Tests/obj
